// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）
// http://www.iconfont.cn/collections/detail?cid=790
@import "../../node_modules/antd/lib/style/themes/default.less";

//@component-background   : #fff;
@font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family            : "Helvetica Neue For Number", @font-family-no-number;
@code-family            : Consolas, Menlo, Courier, monospace;
@heading-color          : #666;
@text-color             : #999;
@text-color-secondary   : fade(#999, 43%);
@heading-color-dark     : fade(#fff, 97%);
@text-color-dark        : #567;
@text-color-secondary-dark: fade(#fff, 67%);
@font-size-base         : 12px;
@font-size-lg           : @font-size-base + 2px;
@line-height-base       : 1.5;

@border-radius-base: 4px;
@border-radius-sm: 2px;
@shadow-color: rgba(0,0,0,0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@menu-dark-bg: #3e3e3e;
@text-color: #666;
@font-family: "Helvetica Neue", "lucida grande", "PingFangHK-Light", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
@icon-url: "/antd/iconfont";
